<div class="container-fluid">
	<div class="jumbotron">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<center>
	  <h1 class="display-4 sombras">Estacionate rapido y facil!</h1>
	  <p class="lead sombras">Encuentra los estacionamientos mas cercanos a tu ubicacion y reserva con facilidad </p>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  	<a class="btn btn-primary " href="#" role="button">Download for Android </a></center>
	 
	</div>
</div>
<div class="container">
	<div class="row home">
		<div class="col-md-4">

			<center>
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="../../../static/images/par.jpg" alt="Card image cap">
				<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
			</center>
		</div>
		<div class="col-md-4">
			<center>
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="../../../static/images/cards.jpg" alt="Card image cap" style="height: 12em;">
				<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
			</center>
		</div>
		<div class="col-md-4">
			<center>
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="../../../static/images/descarga.jfif" alt="Card image cap">
				<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
			</center>
		</div>
		
	</div>
</div>
<!--CONTACTO-->
<div class="container-fluid ">
	<div class="row ">
		<div class="col-md-12 contact">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>
