<div class="container-fluid" >
	<div class="row ">
		<div class="col-md-3 perfil">
			<br>
			<br>
			<center>
				<img src="../../../static/images/user (2).png" alt="" >
			</center>
			<br>
			<h5>Nombre del usuario</h5>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="col-md-9 contenedor " >
			<div class="row  search">
				<div class="col-md-12">
					<form class="form-inline my-2 my-lg-0 ">
					    <input class="form-control mr-sm-2 " type="search" placeholder="Buscar" aria-label="Search">
					    <button class="btn btn-dark my-2 my-sm-0 down2" type="submit">Buscar</button>
   					 </form>
				</div>
			</div>
					
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>