@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0em;
	margin: 0em;
}

/*HEADER EN MASTERS*/
.navbar{
	background-color: #ffeb3b !important;
	padding-bottom: 0em;
	margin-bottom: 0em;
	width: 100%;
}

.navbar a{
	color: #191919 !important;
	
}

.navbar-brand{
	font-weight:bold;
}

#brand{
	width: 20px;
	height: 15px;
}
.navbar-toggler-icon{
	background-color: #484747;
	border-radius: 0.2em;
}

/*HOME*/
.jumbotron{
	background-image: url('../images/transito.jpg');
	background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
	margin-left: 0em;
	margin-right: 0em;
	width: 100%;
    
}

.container{
	height: 100%;
}

.sombras{
	text-shadow: black 0.1em 0.1em 0.1em;
}

.down{
	background-color: #ffeb3b !important;
	color: black;
	border-color: transparent;
}
/*cards*/

.card-p{
	margin-bottom: 1em;
	text-align: justify;
}
.card-p h5{
	text-align: center;
}







/*CONTACTO*/

.contact{
	background-color: #ffeb3b;

}
.contact2{
	padding: 2em;

}

/*acerca de*/

.acerca{
	background-color: #212121;
	padding: 3em;
}
.text-acerca{
	color: white;
	
}

.text-acerca h3{
	
	text-align: center;;
}

.text-acerca p{
	text-align: justify;
}




/*FOOTER*/
footer{
	background-color: #212121;
}

.fo{

	color: white;

}

.fot {
	padding: 2em;

	text-align: center;
}
.fo-bottom{
	text-align: center;
	color: white;
}