@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0em;
	margin: 0em;
}

/*HEADER EN MASTERS*/
.navbar{
	background-color: #ffd54f !important;

	width: 100%;
}
#logo{
	margin-right: 0.3em;
}

.navbar a{
	color: #212121 !important;

}

.nav-link:hover{
	color: white!important;
	background: #212121;
	border-radius: 0px;

}

.navbar-brand{
	font-weight:bold;
}

#brand{
	width: 20px;
	height: 15px;
}
.navbar-toggler-icon{
	background-color: #484747;
	border-radius: 0.2em;
}

.navbar-toggler{

	border: 0;

}



/*HOME*/
.jumbotron{
	background-image: url('../images/transito.jpg');
	background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
	margin-left: 0em;
	margin-right: 0em;
	width: 100% !important;

}



.sombras{
	text-shadow: black 0.1em 0.1em 0.1em;
}

.down{
	background-color: #ffd54f  !important;
	color: black;
	border-color: transparent;
	border-radius: 0;
}

.down:hover{
	color: white!important;
	background: rgb(185, 174, 80) !important;
	border-color: transparent;
}


.btn-registro{
	width: 30%;
}
/*cards*/

.card-p{
	margin-bottom: 1em;
	text-align: justify;
}
.card-p h5{
	text-align: center;
}

.card{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	transition: all 0.25s;
}
.card:hover{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	transform: translateY(-15px);
    /*box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);*/
}








/*CONTACTO*/

.contact{

	color: #1B1A1A;
}
.contact2{
	padding: 2em;

}

/*acerca de*/

.acerca{
	background-color: #212121;
	padding: 3em;
}
.text-acerca{
	color: white;
	padding: 3em;

}

.text-acerca h3{

	text-align: center;;
}

.text-acerca p{
	text-align: justify;
}




/*FOOTER*/
footer{
	background-color: #ffd54f !important;
}

.fo{

	color: #212121 ;

}

.fot {
	padding: 2em;

	text-align: center;
}
.fo-bottom{
	text-align: center;
	color: #212121 ;
}



/* ************************************ESTILOS DE LOGIN*********************************************/


.container-login{
	background: #212121;

	padding: 3em;
	margin: 2em;

}

.btn-success{
	border-radius: 0;
}

#btn-login{
	width: 100%;
}


.btn-registro{
	width: 40%;
}

.log-form{

	background-color: #212121;
	padding: 2em;
	margin-top: 3em; margin-bottom: 14em;

	color: white;

}

.log-form h4{
	color: #ffd54f;
}




#recuperacion{
	color: grey;
	float: right;
	font-size: 0.9em;
}


/* alertas*/


.form-inline{

	margin-top: 8em;

}


/*inputs*/

#label-invisible{
	color: #212121 !important;
}


.material{
	background: transparent;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	font-size: 0.9em;
	border-bottom: 1;
	border-color: 2px solid white;
	border-radius: 0px;
	box-shadow: none !important;
	/*color: white;*/
	color: rgb(180, 184, 184) !important;
}

.material:focus{
	outline: none;
	background: transparent;
	border-right: 0;
	border-left: 0;
	border-top: 0;
  	border-bottom: 1;
  	border-color: 2px solid white;
  	border-radius: 0px;
  	font-size: 0.9em;
  	box-shadow: none;
}


/*mapas*/

#map{
	width: 600px; 
	height: 350px;
}

#link-map{
	text-decoration: none;
	color: grey;
	float: left;
	font-size: 0.9em;
}

/* ESTILOS DE INTERFACES DE USUARIOS LOGEADOS */



/*boton  de cerrar sesion */
.logout{
	margin-left: 2em;
}

/*boton de buscar down2 */


.down2:hover{
	background-color: #ffd54f !important;
	color: black;
	clear: both;
	border-color: transparent;
	border-radius: 0;
}

.down2{
	border-radius: 0;
	background: #212121 !important;

}

.search{
	margin-top: 3em;
	margin-right: 0.5em;
	float: right;

}

.nav_p{
	margin: 0em;
}

.container-fluid{
	margin: 0;
	padding: 0;

}

.aside{
	border-color: 2px solid black;

}

.perfil h5{
	text-align: center;
	color: white;
}

.perfil{
	background:  #212121;
}


.contenedor{
	background: grey;
}

.card img{
	width: 150px;
	height: 150px;
	margin: 70px;
	margin-top: 0em !important;
	margin-bottom: 0em !important;

}
