@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0em;
	margin: 0em;
}

body{
	background-color: #212121;
}

/*HEADER EN MASTERS*/
.navbar{
	background-color: #ffd54f !important;
	border: 0;
	width: 100%;
}
#logo{
	margin-right: 0.3em;
}
#logo-u{
	width: 30px;
	height: 30px;
	display: inline;
}

.navbar a{
	color: #212121 !important;

}

.nav-link:hover{
	color: white!important;
	background: #212121;
	border-radius: 0px;

}

.navbar-brand{
	font-weight:bold;
}

#brand{
	width: 20px;
	height: 15px;
}
.navbar-toggler-icon{
	background-color: #484747;
	border-radius: 0.2em;
}

.navbar-toggler{

	border: 0;

}



/*HOME*/
.jumbotron{
	background-image: url('../images/transito.jpg');
	background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
	margin-left: 0em;
	margin-right: 0em;
	width: 100% !important;

}



.sombras{
	text-shadow: black 0.1em 0.1em 0.1em;
}

.down{
	background-color: #ffd54f  !important;
	color: black;
	border-color: transparent;
	border-radius: 0;
}

.down:hover{
	color: white!important;
	background: rgb(27, 27, 27) !important;
	border-color: transparent;
}


.btn-registro{
	width: 30%;
}

/*cards

.card-p{
	margin-bottom: 1em;
	text-align: justify;
}
.card-p h5{
	text-align: center;
}

.card{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	transition: all 0.25s;
}
.card:hover{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	transform: translateY(-15px);
	}
    /*box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);*/










/*CONTACTO*/

.contact{

	color: #1B1A1A;
}
.contact2{
	padding: 2em;

}

/*acerca de*/

.acerca{
	background-color: #212121;
	padding: 3em;
}
.text-acerca{
	color: white;
	padding: 3em;

}

.text-acerca h3{

	text-align: center;;
}

.text-acerca p{
	text-align: justify;
}




/*FOOTER*/
footer{
	background-color: #ffd54f !important;
}

.fo{

	color: #212121 ;

}

.fot {
	padding: 2em;

	text-align: center;
}
.fo-bottom{
	text-align: center;
	color: #212121 ;
}
 


/* ************************************ESTILOS DE LOGIN*********************************************/


.container-login{
	background: #212121;

	
	margin: 2em;

}

.btn-success{
	border-radius: 0;
}

#btn-login{
	width: 100%;
}


.btn-registro{
	width: 40%;
}

.log-form{

	background-color: #212121;
	padding: 2em;
	margin-top: 3em; margin-bottom: 14em;

	color: white;

}

.log-form h4{
	color: #ffd54f;
}




#recuperacion{
	color: grey;
	float: right;
	font-size: 0.9em;
}


/* alertas*/


.alert{

	margin-top: 8em;

}


/*inputs*/

#label-invisible{
	color: #212121 !important;
}


.material{
	background: transparent;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	font-size: 0.9em;
	border-bottom: 1;
	border-color: 2px solid white;
	border-radius: 0px;
	box-shadow: none !important;
	/*color: white;*/
	color: rgb(180, 184, 184) !important;
}

.material:focus{
	outline: none;
	background: transparent;
	border-right: 0;
	border-left: 0;
	border-top: 0;
  	border-bottom: 1;
  	border-color: 2px solid white;
  	border-radius: 0px;
  	font-size: 0.9em;
  	box-shadow: none;
}


/*mapas*/

#map{
	width: 600px; 
	height: 350px;
}

#link-map{
	text-decoration: none;
	color: grey;
	float: left;
	font-size: 0.9em;
}

/* ESTILOS DE INTERFACES DE USUARIOS LOGEADOS */
#btn-log{
	width: 20px;
	height: 20px;
	display: inline;
}


/*boton  de cerrar sesion */


/*boton de buscar down2 */


.down2:hover{
	background-color: #ffd54f !important;
	color: black;
	clear: both;
	border-color: transparent;
	border-radius: 0;
}

.down2{
	border-radius: 0;
	background: #212121 !important;

}



.nav_p{
	margin: 0em;
}

.container-fluid{
	margin: 0;
	padding: 0;

}

.aside{
	border-color: 2px solid black;

}




/*estilos de post login de usuarios*/
#logo-div{
	margin-bottom: 2em;
	font-weight:bold;
}
.contenedor{
	margin: 0;
	background: #ffd54f;
	padding-top: 3em;
	padding-left: 1.9em;
	height: 650px;
}

.contenedor h2{
	text-align: center;

	clear: both;
	display: inline;
}

.contenedor img{
	
	clear: both;
	display: inline;
}

/*estilos del el menu usuario*/

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
	width: 100%;
	
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/*mas estilos del menu usurios*/

.menu{
	background-color: #ffd54f !important; 
	border: 0em !important;
}

.list-group-item{
	background-color: #ffd54f !important; 
	color: #212121;
}

.list-group a:hover{
	background-color: #212121 !important; 
	color: white;
}

#cont-user{
	border: 0px;
	background-color: #484747 !important;
	color: white;
	padding: 2em;
	padding-top: 0px !important;
}