$def with(page)
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../static/css/estilos.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark border-right menu" id="sidebar-wrapper">
      <div class="sidebar-heading">Park-BS <img src="../../../static/images/baseline-directions_car-24px.svg" id="logo-u" alt=""> </div>
      <div class="list-group list-group-flush">
        <a href="/index_usuarios" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="/perfil_usuarios" class="list-group-item list-group-item-action bg-light">Perfil</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Estado</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Estacionamientos</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Reservaciones</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Destacados</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Log out <img id="btn-log" src="../../../static/images/sign-out-option.svg" alt=""> </a>
            </li>
          </ul>
        </div>
      </nav>


      <!--contenedor donde se va cargar el conteido de los demas sitios-->
      <div class="container-fluid" id="cont-user">
       
        $:page
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="../../../static/js/jquery.min.js"></script>
  <script src="../../../static/js/bootstrap.min.js"></script>
 

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>